$theme-color : #4FC38E;
$theme-bright : #f8f7ff;
$theme-dark : #216869;
$theme-dark2 : #1f2421;
$text : rgba(40,54,24,0.8);
$text-gray : rgba(140,163,143,0.54);
// colours from https://coolors.co/1f2421-216869-49a078-9cc5a1-dce1de

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
