$theme-color : #a5be00;
$theme-bright : #f8f7ff;
$theme-dark : #427aa1;
$theme-dark2 : #05668d;
$text : rgba(53,80,112,0.8);
$text-gray : rgba(109,104,117,0.54);

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
